* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

p {
  color: white;
}

.header-top h1 {
  color: red;
}

header {
  top: 0;
  position: sticky;
}

.header-top h1 {
  font-size: 48px;
}

.header-top p {
  font-size: 10px;
  letter-spacing: 0.6em;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: brown;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: red;
}

.header-top {
  background-color: rgb(185, 185, 185);
  background-image: url(./images/mars_2k.jpg);
  width: 100svw;
  height: 200px;
  border: groove 5px rgb(21, 21, 21);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
  color: white;
  height: 50px;
}
section {
  text-align: center;
  width: 100vw;
  background-color: rgb(143, 0, 0);
}

.sec-settings {
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 150px;
}

.section1 {
  background-image: url(./images/Mars-person.jpg);
}

.section2 {
}

.section3 {
  background-image: url(./images/mars_2k.jpg);
}

.section4 {
}

.section5 {
  background-image: url(./images/Mars-rover.jpg);
}

.section6 {
}

.marsRover {
  margin-top: 10px;
}

.section7 {
  background-image: url(./images/mars_2k.jpg);
}

.section8 {
}

.section9 {
  background-image: url(./images/Mars-rover.jpg);
}

.section10 {
}

.bg-img {
  background-position: left bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
}
