/*nullstiller siden og legger til font settings på siden*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*gjør bruker opplevelsen mer behagelig med scroll-effekt*/
html {
  scroll-behavior: smooth;
}

/*Låser siden til maks høyde og vidde på skjerm*/
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
}

p {
  color: white;
}

/*Bestemmer farge på h1 i header*/
.header-top h1 {
  color: red;
  font-size: 48px;
}
/*låser bakgrunnsbildene slik at vi får et fantastisk fint design når vi scroller nedover*/
header {
  top: 0;
  position: sticky;
}

/*Endrer font-size og letter-spacing på tekst i header*/
.header-top p {
  font-size: 10px;
  letter-spacing: 0.6em;
}

/*Fjerner dekorasjoner på navbaren*/
a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
  color: whitesmoke;
}
/*Legger til effekt slik at bruker ser at det er interaktiv lenke*/
a:hover,
a:focus {
  text-decoration: underline;
  color: red;
}

/*Legger til bakgrunnsbilde, bakgrunnsfarge og styler header*/
.header-top {
  background-color: rgb(49, 49, 49);
  background-image: url(./images/mars_2kv2.jpg);
  width: 100svw;
  height: 130px;
  border-bottom: groove 5px black;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
}

/*Styler nav seksjonene i navbaren*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(33, 33, 33);
  color: white;
  height: 30px;
  padding: 0 300px;
}
section {
  text-align: center;
  width: 100vw;
  background-color: rgb(103, 0, 0);
  letter-spacing: 1.5px;
}

section h1 {
  font-size: 36px;
  margin-bottom: 0.5em;
  font-weight: 900;
}

/*Styler tekst seksjonene*/
.sec-settings {
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 150px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#section1 {
  background-image: url(./images/mars_2kv2.jpg);
}
#section2 {
  padding: 0 200px;
}

#section3 {
  background-image: url(./images/Mars-landscape1.jpg);
}

#section5 {
  background-image: url(./images/Mars-rover.jpg);
}

#sec-settings,
h1 {
  font-size: xx-large;
  color: rgb(255, 163, 163);
}
.marsRover {
  margin-top: 10px;
  margin-bottom: 10px;
}

#section7 {
  background-image: url(./images/Mars-planet.jpg);
}

#section9 {
  background-image: url(./images/Mars-person.jpg);
}

/*Settings for bakgrunnsbildene*/
.bg-img {
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
}
/*styler knapp nederst på nettsiden slik at den er synlig og brukervennlig*/
#backToTop-btn {
  width: 200px;
  height: 60px;
  font-size: 20px;
  padding: 15px 30px;
  background-color: rgb(103, 0, 0);
  color: rgb(255, 163, 163);
  border-radius: 7px;
  scale: 0.7;
}

/*pop-out effekt på knappen slik at bruker ser den kan trykkes*/
#backToTop-btn:hover {
  scale: 0.8;
}

/*Styler footer design*/
footer {
  background-color: rgb(49, 49, 49);
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
